/*     Szukajka, Fonty w szukajce, wygląd znacznika szukania, Trasa, do          przerobienia!!!!! 

        WIĘKSZOŚĆ STYLI I KKLAS MUSI TAKA ZOSTAĆ !!!!!

        dodaj swoje style aby dodatko wkomponować je w naszą aplikację */

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}
/*Road*/
.adp-summary{
    color: white;
    background-color: #e45757;
}
.adp-substep{
    color: white;
}
/*KLASA DO check box-a!!!*/

.pac-container {
    background-color: #FCF7EE;
    z-index: 1500;
}
}
.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}
.pac-controls label {
    background-color: #FCF7EE;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

/*Nowa trasa --> Miejsce docelowe*/
#pac-input {}
#pac-input:focus {
    border-color: #FCF7EE;
}
#title {
    color: #fff;
    background-color: #FCF7EE;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}
