body {
    font-family: 'Lato', sans-serif;
}


/*-=/=--=/=--=/=--=/=--=/=--=/=--=/=-*/


/*-=-=-=-=-=-Strona_Główna-=-=-=-=-=-*/


/*-=/=--=/=--=/=--=/=--=/=--=/=--=/=-*/


/* --- HEADER / PANELS--- */

.header {
    display: flex;
    padding: 0 3px;
}

.ui-bar-header-element {
    background-color: #464B61;
    border-color: #464B61;
    color: white;
    z-index: 1000;
}

.menu-icon {
    margin-top: 7px;
}

.marker-icon {
    margin-top: 11px;
}

.svg-menu {
    width: 29px;
}

.svg-map {
    width: 21px;
}

.svg-icons {
    padding-right: 10px;
    width: 14px;
}

.svg-menu,
.svg-map {
    margin: 0 8px;
}

.menu-icon,
.title,
.marker-icon {
    display: table-cell;
}

.title {
    margin-left: -2px;
    text-align: center;
    width: 100%;
}

.title g {
    font-weight: 600;
}

.title>h1 {
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin-top: 12px;
    text-shadow: none;
}


/*DODAŁEM CI TE 2 KLASY pageone i map OStyluj je porządnie */

#pageoneMAP {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 86%;
    width: 100%;
}

#menuPanel {
    background-color: #30345A;
}

#menuPanel ul {
    list-style: none;
    margin-top: 35px;
    padding-left: 0;
}

#menuPanel button {
    bottom: 7px;
    position: absolute;
    width: 85%;
}

li {
    align-items: baseline;
    color: white;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}

.logout {
    background-color: #e45757;
    border: solid 1px #e45757;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
}

/* --- CONTENT --- */


/* --- FOOTER --- */

::-webkit-input-placeholder {
    color: #343B47;
    font-family: 'Lato', sans-serif;
}

:-moz-placeholder {
    color: #343B47;
    font-family: 'Lato', sans-serif;
}

::-moz-placeholder {
    color: #343B47;
    font-family: 'Lato', sans-serif;
}

:-ms-input-placeholder {
    color: #343B47;
    font-family: 'Lato', sans-serif;
}

#iconType {
    display: flex;
    justify-content: space-around;
}

input:focus::-webkit-input-placeholder {
    color: #FCF7EE;
    text-shadow: none;
}

input:focus:-moz-placeholder {
    color: #FCF7EE;
    text-shadow: none;
}

input:focus::-moz-placeholder {
    color: #FCF7EE;
    text-shadow: none;
}

input:focus:-ms-input-placeholder {
    color: #FCF7EE;
    text-shadow: none;
}

#search {
    padding: 10px 10px 3px;
}

#newtrackButtons {
    display: flex;
    justify-content: space-between;
}

#newtrackButtons a {
    background-color: #343B47;
    border-color: #343B47;
    width: 40%;
}

#newtrackButtons a:nth-child(2) {
    background-color: #e45757;
    border-color: #e45757;
    margin-right: 0;
}

#newtrackButtons a,
#newtrackButtons a:nth-child(2) {
    border-radius: 4px;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-shadow: none;
}

#pac-input,
#markerName {
    background-color: #FCF7EE;
    border: none;
    box-shadow: none;
    color: #464B61;
    font-family: 'Lato', sans-serif;
    text-shadow: none;
}

#popupNewRoad {
    background-color: #464B61;
    border-color: #464B61;
    box-shadow: none;
}

.ui-bar-popupHeader {
    background-color: #343B47;
    border-color: #464B61;
    text-shadow: none;
    color: white;
}

#popupNewRoad-popup {
    width: 80%;
}

.ui-bar-footer-element {
    background-color: #464B61;
    border-width: 0;
    border-color: red;
    color: white;
}

.footer-container {
    padding: 14px;
}

.newRoute {
    width: 100%;
}

.newRoute {
    background-color: #e45757;
    border: solid 1px #e45757;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
}
